@tailwind base;
@tailwind components;
@tailwind utilities;

#sh1 {
    text-align: center; 
}

#songFeaturesTable {
    width: fit-content;
    height: 200px;
    width: 60%;
}

#chartDanceability {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}


#navigationLinks {
    margin-top: 3px;
}

#h1MainMenu {
    
}

#mainDiv {
    /* text-align: center; */
    border: 3px solid green;
}

.container {
    padding: 5px;

}
